.selectbox{
    opacity: 0.6;
    border: none;
    border-bottom: 2px solid #82ae46;
    outline: none !important;
  }
    .selectbox:focus {
      outline: none !important;
    }

    .price-sale, .mr-2.price-dc, .table tbody tr td.total, .table tbody tr td.price, .d-flex{
    font-family: sans-serif;
    }
    .addCart{
        margin-top:15px; 
    }
    .btn.btn-primary{
        font-size: 0.9rem !important;
        width: 50%;
    }
    .select-wrap{  
            color: #202020;
            margin-left: 5px;
    }

    @media(max-width:767px){
      .selectbox{
         border: none;
        outline: none;
      }
      .selectbox:focus{
        border: none;
        outline: none;
     }
       .ftco-footer-social li{
         margin: 0 0px 0 0 !important;
       }
        .btn.btn-primary{
            width: 100%;
        }
        .col-xs-6 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
       .mobile_view{
           display: block !important;
       } 
       
       .py-1.bg-primary{
           display: none;
       }
       .desktop_view, .desktop_view1, .owl-dots{
            display: none;
       }
       .hero-wrap.hero-bread{
           display: none;
       }
       .mt-5, .my-5{
        margin-top: 1rem !important;
       }

       .ftco-navbar-light.scrolled .cartnew{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
       }
       .owl-carousel.home-slider{
         height: 50px !important;
       }
       .mobileView{
          margin: 0 auto !important;
       }
    }

    @media(min-width:768px){
       .mobile_view{
           display: none;
       } 
       .desktop_view{
           display: block;
       }
    }



    .product .text h3{
        font-weight: 600;
    } 
.table tbody tr td{
    padding: 0px 10px !important;
    }
.ftco-cart button, .ftco-cart .form-control{
    bordeR: 1px solid rgba(0, 0, 0, 0.4) !important;
    }
    .ftco-cart .quantity-right-plus, .ftco-cart .quantity-left-minus, .ftco-cart .form-control{
    height: 30px !important;
    width: 30px !important;
    padding:0 !important;
    }
    .form-control.input-number{
      max-width: 30% !important;
    }

.searchtop{
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
}
    .searchBox{
        position: absolute;
        top: 25%;
        right: 6px;
        line-height: 0;
    }


    .loginModal .input-group {
      position: relative;
      margin: 40px 0 20px;
    }
    
    .loginModal input {
      font-size: 15px;
      padding: 10px 10px 2px 5px;
      display: block;
      width: 315px;
      border: none;
      border-bottom: 1px solid #757575;
    }
    
    .loginModal input:focus {
      outline: none;
    }
    
    .loginModal label {
      color: #999;
      font-size: 15px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    
    .loginModal input:focus ~ label,
    .loginModal input:valid ~ label {
      top: -10px;
      font-size: 12px;
      color: #4285f4;
    }
    
    .loginModal.bar {
      position: relative;
      display:block;
      width:315px;
    }
    
    .loginModal.bar:before,
    .loginModal.bar:after {
      content: '';
      height: 1px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #4285f4;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    
    .loginModal.bar:before {
      left: 50%;
    }
    
    .loginModal.bar:after {
      right: 50%;
    }
    
    .loginModal input:focus ~ .bar:before,
    .loginModal input:focus ~ .bar:after {
      width: 50%;
    }
    
    .loginModal .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  
    .loginModal input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
    
    /* animations */
    @-webkit-keyframes inputHighlighter {
      from { background: #4285f4; }
      to   { width: 0; background: transparent; }
    }
    @-moz-keyframes inputHighlighter {
      from { background: #4285f4; }
      to   { width: 0; background: transparent; }
    }
    @keyframes inputHighlighter {
      from { background: #4285f4; }
      to   { width: 0; background: transparent; }
    }
.log{
  margin: 0 auto;
  font-family: sans-serif;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.log input{
  border-radius: 0 !important;
}
.signin{
  text-align: center;
  width: 100%;
  font-weight: 500;
}
#mainsignup{
  display: none;
}
.unactives {
  border: 1px solid #82ae46;
  background: transparent;
  color: #82ae46;
  width: 40%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.activesign {
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff !important;
}

.ftco-navbar-light.scrolled .navbar-brand {
  color: #82ae46 !important;
}

.valid{
  color: red;
  font-size: 10px;
  padding-bottom: 8px;
  line-height: 1;
  visibility: hidden;
}

.passerror{
  color: red;
  font-size: 13px;
  text-align: center;
  visibility: hidden;
}

